.menu{
    position: fixed;
    top: 0;
    right: 100%;
    width: 100%;
    height: 100vh;
    z-index: 10;
    visibility: hidden;
    opacity: 0;
    transition: all .6s;
    &__overlay{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        opacity: .75;
    }
    &__block{
        position: relative;
        width: 345px;
        transition: all .6s;
        background-color: var(--main-color);
        height: 100%;
        padding: 140px 0 0 40px;
        z-index: 10;
    }
    &__item{
        margin-bottom: 25px;
        text-transform: uppercase;
    }
    &__link{
        font-weight: 600;
        font-size: 23px;
        text-decoration: none;
        color: #fff;
    }
    &__close{
        position: absolute;
        top: 10px;
        right: 20px;
    }
    &.active{
        right: 0;
        visibility: visible;
        opacity: 1;
    }
}
