.reservation{
    background: url('../../img/bg/bg_3.jpg') center center /cover no-repeat ;
    min-height: 580px;
    padding: 64px 0 100px 0;
    &__wrapper{
        display: grid;
        grid-template: minmax(90px , auto) /repeat(2 , 490px) ;
        justify-content: center;
        column-gap: 165px;
        margin-top: 128px;
    }
    &__cover{
       text-align: end;
       z-index: 99999;
       &::before{
        content: '';
        position: absolute;
        width: 167px;
         height: 167px;
         background-color: rgba($color: #00c2f0, $alpha: .3);
         z-index: -1;
         top: 156px;
         left: 359px;
        }
       &_txtstart{
           text-align: start;
           &::before{
             left: 620px;
           }
       }
    }
    &__title{
        font-size: 30px;
        line-height: 22px;
        font-weight: 900;
        text-transform: uppercase;
        color: #ffffff;
    }
    &__descr{
        font-size: 18px;
        line-height: 26px;
        font-weight: 300;
        color: #ffffff;
        margin-top: 20px;
    }
}